@charset "UTF-8";

/*
    Em HTML é id    = em CSS é #
    Em HTML é class = em CSS é .
*/

body {
    background-color: #b0efbf;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(29, 57, 29);
}

h1#principal {
    text-align: center;
    background-color: #295032;
    color: white;
}

h2 {
    color: #3A7247;
}

.basico{
    color: #106824;
    font-weight: bold;
}

.intermediario{
    color: #a4ae13;
    font-weight: bold;
}

.avancado{
    color: #9c0d0d;
    font-weight: bold;
}

.destaque{
    background-color:#b9c50d64
}