@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

h1, h2 {
    font-family: 'idroid';
    color: green;
}

h2{
    background-image: linear-gradient(to right, rgba(134, 219, 134, 0.393) 20%, white);
}
body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}