@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to top, #042940, #005C53);
    background-attachment: fixed;
}

main{
    background-color: #D6D58E;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #031c2c;
    border-radius: 10px;
}

h1{
    color: #005C53;
    text-align: center;
    text-shadow: 1px 1px 2px #024a437e;
}

h2{
 color: #042940;
}

p{
    text-align: justify;
}